$primary: #272f38;
$secondary: #39424e;
$secondary-light: #84a29e;
$green: #36b15c;
$green-dim: #4bcc78;
$grey: #a3b6b7;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: $primary;
    background-color: #f8fcfc;
    min-width: 1100px;
}

a {
    color: $green-dim;
    font-weight: 400;
    text-decoration: none;

    &:hover {
        color: $green;
    }
}

.mheader {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    box-shadow: 0px 0px 10px 15px rgba($color: #000000, $alpha: 0.05);

    &-inner {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 0;
    }

    &-logo {
        width: 200px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &-nav {
        display: flex;

        &-items {
            list-style: none;
            display: flex;

            li {

                a {
                    font-size: 1em;
                    font-weight: 700;
                    color: #ffffff;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    padding: 0.4em 1.2em;
                }
            }
        }
    }

    &-end {
        display: flex;
        align-items: center;

        &-link {
            border-right: 2px solid $secondary-light;

            a {
                font-size: 1em;
                font-weight: 700;
                color: $grey;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                padding: 0.4em 1.2em;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &-profile {
            display: flex;
            margin-left: 1em;
            align-items: center;
            
            &-text {
                
                p {
                    font-size: 0.8em;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $grey;
                    opacity: 0.7;
                    line-height: 1;
                }

                h3 {
                    font-size: 1em;
                    font-weight: 900;
                    text-transform: uppercase;
                    color: $grey;
                    line-height: 1;
                }
            }

            &-avatar {
                width: 40px;
                margin-left: 1em;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }

    &-bottom {
        display: flex;
        width: 100%;
        background-color: $primary;

        &-inner {
            width: 90%;
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5em 1em;
        }

        &-left {
            flex: 1;
            display: flex;

            .header-stats {
                display: flex;

                &-icon {
                    width: 18px;
                    background-image: url(../images/codn-icon.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    margin-right: 1em;
                }

                &-text {
                    h5 {
                        font-size: 0.85em;
                        color: #ffffff;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;

                    }
                    .green-text {
                        color: $green-dim;
                    }

                    h3 {
                        font-size: 1em;
                        color: #ffffff;
                        font-weight: 900;

                    }

                    &-row {
                        display: flex;

                        &-button {
                            display: flex;
                            align-items: center;
                            margin-left: 0.8em;

                            a {
                                font-size: 0.7em;
                                padding: 0.15em 0.5em;
                                margin: 0 0.2em;
                            }
                        }
                    }
                }
            }
        }

        &-right {
            a {
                font-size: 0.85em;
                font-weight: 700;
                padding: 0.2em 1em;
                background-color: $secondary-light;
                color: #ffffff;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
        }
    }
}


.pheader {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 15px rgba($color: #000000, $alpha: 0.05);

    &-inner {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 0;
    }

    &-logo {
        width: 200px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &-nav {
        display: flex;

        &-items {
            display: flex;
            align-items: flex-end;
            list-style: none;

            li {
                display: flex;

                &.pheader-nav-items-double {
                    background-color: #f8fcfc;
                    padding-top: 1em;
                    position: relative;
                    box-shadow: 0px 0px 5px 5px rgba($color: #000000, $alpha: 0.05);

                    .items-double-span {
                        background-color: $secondary;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 160px;
                        padding: 0.1em 0.4em;
                        position: absolute;
                        top: -0.5em;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 0.85em;
                        font-weight: 400;
                        color: #ffffff;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;

                        .codecap-light-icon {
                            margin-left: 0.4em;
                        }
                    }
                }
                
                a {
                    font-size: 1em;
                    color: $secondary;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    padding: 0.4em 1.4em;
                    display: block;

                    span {
                        font-size: 0.8em;
                        display: block;
                        font-style: italic;
                        font-weight: 900;
                        line-height: 0.4;
                        color: $green;
                    }

                    &.link-organise {
                        font-weight: 700;
                        border-left: 2px solid rgba(57, 66, 78, 0.5);
                    }

                    &:hover {
                        color: $primary;
                    }

                    &.link-launch {
                        background: linear-gradient(90deg, $green, $green-dim);
                        font-weight: 700;
                        color: #ffffff;

                        &:hover {
                            background: linear-gradient(90deg, $green, $green);
                            color: #ffffff;
                        }
                    }
                }

            }
        }
    }
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .home-top {
        width: 90%;
        max-width: 1100px;
        padding: 2em 0;
        display: flex;
        align-items: center;
    }

    .home-left {
        flex: 1;

        &-main {
            
            h3 {
                font-size: 3em;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            h4 {
                font-size: 2em;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1;
            }
            h5 {
                font-size: 2em;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $green;
            }
        }
        
        &-light {
            max-width: 400px;
            opacity: 0.6;
            margin: 1em 0;

            h5 {
                font-size: 1.6em;
                font-weight: 900;
                letter-spacing: 0.5px;
                font-style: italic;
            }

            p {
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.2;
            }
        }

        .home-features {
            display: flex;
            flex-direction: column;

            &-row {
                display: flex;
                align-items: center;
                margin-bottom: 1em;

                img {
                    max-width: 30px;
                    width: auto;
                    height: auto;
                    max-height: 30px;
                    display: block;
                }

                &-text {
                    margin-left: 1em;

                    h5 {
                        font-size: 1em;
                        font-weight: 300;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 1em;
                        font-weight: 400;
                        line-height: 1;

                        span {
                            font-weight: 700;
                            color: $green;
                        }
                    }
                }
            }

            &-buttons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .home-right {
        flex: 1;
        margin-left: 4em;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

.button {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $secondary;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px 5px rgba($color: #000000, $alpha: 0.05);
    padding: 0.4em 1em;

    &-green {
        background: linear-gradient(90deg, $green, $green-dim);
        color: #ffffff;

        &:hover {
            background: linear-gradient(90deg, $green, $green);
            color: #ffffff;
        }
    }

    &-dark {
        background: linear-gradient(90deg, $secondary, $primary);
        color: #ffffff;

        &:hover {
            background: linear-gradient(90deg, $secondary, $secondary);
            color: #ffffff;
        }
    }

    &-orange {
        background-color: #ff605c;
        color: #ffffff;

        &:hover {
            opacity: 0.9;
            color: #ffffff;
        }
    }

    &-golden {
        background-color: #febc4e;
        color: #282f39;

        &:hover {
            opacity: 0.9;
            color: #282f39;
        }
    }
}

.events {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1100px;
    padding: 2em 0;

    &-title {
        width: 100%;

        h3 {
            font-size: 0.9em;
            text-transform: uppercase;
            font-weight: 700;
            color: $secondary;
            letter-spacing: 0.5px;
        }

        h2 {
            font-size: 2em;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

.competition-boxes {
    display: flex;
    align-items: center;

    &-link {
        flex: 1;
        text-align: center;

        a {
            padding: 0.5em 2em;
            font-size: 1em;
            font-weight: 900;
        }
    }
}

.competition-box {
    flex: 1;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px 5px rgba(0,0,0, 0.05);
    margin: 1em;
    display: flex;
    flex-direction: column;
    position: relative;

    &-happening {
        position: absolute;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 1px;
        right: 0.6em;
        top: 0.2em;
        font-weight: 400;

        span {
            font-weight: 700;
        }
    }

    &-top {
        padding: 1em;

        h3 {
            font-size: 0.9em;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 1px;
            margin-bottom: 0.4em;
        }

        p {
            font-size: 0.9em;
            font-weight: 400;
            color: $secondary;
            letter-spacing: 1px;
        }
    }

    &-bottom {
        padding: 0.5em 1em;
        background-color: #edf0f1;
        display: flex;
        align-items: center;

        &-left {
            flex: 1;
            display: flex;
            align-items: center;

            &-avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff605c;
                font-weight: 900;
                color: #ffffff;
            }

            &-text {
                margin-left: 0.5em;

                p {
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    font-size: 0.8em;
                    font-weight: 400;
                    line-height: 1;
                    color: $grey;
                }

                h5 {
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 1;
                }
            }
        }

        &-right {
            a {
                font-size: 0.8em;
            }
        }
    }
}


.window {
    display: flex;
    flex-direction: column;
    background-color: #272f38;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 48px);
}

.window-center {
    max-width: 500px;
    width: 90%;
    background-color: #edf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window-logo {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 2em;
}

.window-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $grey;
    font-size: 3em;
    font-weight: 900;
    margin-top: 0.2em;
}

.window-title-sub {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $grey;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1em;
}

.window-content {
    display: flex;
    width: 100%;

    &-left,
    &-right {
        flex: 1;
        text-align: center;
        padding: 4em 1em;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.2s all;
    
        h4 {
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        h2 {
            font-size: 3em;
            text-transform: uppercase;
            font-weight: 300;
        }

        &:hover {
            opacity: 0.9;
            color: #ffffff;
        }
    }

    &-left {
        background-color: $green-dim;
    }

    &-right {
        background-color: $green;
    }
}


.input {
    display: flex;
    flex-direction: column;

    label {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        color: $secondary;
        position: relative;
        padding: 0.2em 1em 0.2em 1.2em;

        &::before {
            content: "";
            width: 0.8em;
            height: 4px;
            background-color: $green;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
        }
    }

    &-text {
        input {
            background-color: #f8fcfc;
            border: 1px solid #e9ecec;
            padding: 0.6em 1em;
            font-family: inherit;
            font-size: 1.1em;
            outline: none;
            transition: 0.2s all;
            display: block;
            width: 100%;

            &:focus {
                border: 1px solid #e4e4e8;
            }
        }
    }

    &-select {
        select {
            background-color: #f8fcfc;
            border: 1px solid #e9ecec;
            padding: 0.6em 1em;
            font-family: inherit;
            font-size: 1.1em;
            outline: none;
            transition: 0.2s all;
            display: block;
            width: 100%;
        }
    }

    &-country {
        flex-direction: row;
        flex-wrap: wrap;

        label {
            width: 100%;
        }
        select {
            width: calc(100% - 3em);
        }
        
        .country-preview {
            width: 3em;
            display: flex;
            align-items: center;
            
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}

.input-submit {
    display: flex;
    justify-content: center;
    margin-top: 1em;

    button {
        background: linear-gradient(90deg, $green-dim, $green);
        border: 1px solid $green-dim;
        padding: 0.5em 1.2em;
        display: flex;
        align-items: center;
        box-shadow: 2px 4px 10px 5px rgba($color: #000000, $alpha: 0.05);
        cursor: pointer;
        font-family: inherit;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
        font-size: 0.9em;
        color: #ffffff;
        transition: 0.2s all;
        backface-visibility: hidden;
        outline: none;

        i {
            color: #ffffff;
            margin-right: 0.8em;
            font-size: 0.8em;
            transition: 0.2s all;
        }

        &:hover {
            opacity: 0.9;
            transform: translateX(2px);

            i {
                opacity: 0.8;
            }
        }
    }
}

.message {
    padding: 0.3em 1em;
    font-size: 0.9em;
    font-weight: 400;
    margin: 1em 0;
    display: block;

    &.error {
        background-color: #ffe2e2;
        color: #ff605c;
        border: 1px solid #ff605c;

        a {
            color: #ff605c
        }
    }
    &.success {
        background-color: #d5ffe4;
        color: $green-dim;
        border: 1px solid $green-dim;
    }

    a {
        font-weight: 900;
        text-decoration: underline;
    }
}

.window-form {
    display: flex;
    width: 90%;
    max-width: 300px;
    padding: 0 0 3em 0;

    form {
        width: 100%;
    }
    
    .input {
        margin-bottom: 1em;
    }
}

.footer {
    display: flex;
    background-color: $secondary;
    padding: 1em 0;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
    }

    &-copyright {
        display: flex;
        align-items: center;

        .codecap-light-icon {
            margin-right: 1em;
            width: 1.4em;
            height: 1.4em;
        }

        &-text {
            font-size: 0.9em;
            color: $grey;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }
    }

    &-nav {
        display: flex;

        ul {
            display: flex;
            list-style: none;

            li {

                a {
                    font-size: 0.9em;
                    color: $grey;
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: 1px;
                    padding: 0.2em 1em;
                }
            }
        }
    }
}

.codecap-light-icon {
    width: 1em;
    height: 1em;
    background-image: url(../images/logo-icon-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.page {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

    &-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        &-left {

            h1 {
                font-size: 2em;
                text-transform: uppercase;
                font-weight: 300;
                letter-spacing: 1px;
                position: relative;
                padding-left: 1em;
                padding-top: 0.5em;
                padding-right: 0.5em;
                display: table;
                color: #ffffff;
                
                span {
                    position: relative;
                }

                &::before {
                    content: "";
                    width: 100%;
                    left: 0;
                    top: 0;
                    height: calc(100% + 1em);
                    position: absolute;
                    background-color: $green;
                }
            }

            p {
                position: relative;
                font-size: 1em;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding-left: 2em;
            }
        }

        &-right {

            &-comp {
                text-align: right;
                
                h3 {
                    font-size: 2em;
                    color: $secondary;
                    font-weight: 400;
                }
                p {
                    font-size: 1em;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding-left: 2em;
                    color: $secondary-light;
                }
            }

            .go-back {
                display: flex;
                margin-top: 0.5em;

                a {
                    font-size: 0.8em;
                }
            }
        }
    }

    &-content {
        display: flex;
        min-height: 60vh;
    }
}

.comp-page {
    width: 100%;
    padding: 1em 0;
    display: block;

    &-info {
        width: 100%;
        font-size: 1em;
        font-weight: 700;
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 1em;
    }

    &-row {
        width: 100%;
        background-color: #ffffff;
        box-shadow: 2px 4px 10px 5px rgba($color: #000000, $alpha: 0.05);
        display: flex;
        align-items: center;
        padding-bottom: 0.5em;
        transition: 0.2s all;

        div {
            backface-visibility: hidden;
        }

        &:hover {
            transform: translateY(-2px);
        }
    }

    .comp-left {
        flex: 3;
        position: relative;

        &::before {
            content: "";
            width: 2px;
            background-color: $secondary;
            height: 80%;
            top: 15%;
            right: 0;
            position: absolute;
            opacity: 0.2;
        }

        &-top {
            margin: 1em;
            padding-bottom: 1em;
            border-bottom: 2px solid rgba(57, 66, 78, 0.2);

            h3 {
                font-size: 0.9em;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 1px;
                margin-bottom: 0.4em;
                color: $secondary;
            }

            p {
                font-size: 0.9em;
                font-weight: 400;
                color: #39424e;
                letter-spacing: 1px;
                border-left: 3px solid $green;
                padding: 0.4em 1em;
            }
        }

        &-bottom {
            display: flex;

            &-2 {
                flex: 3;
            }
            &-1 {
                flex: 2;
            }

            &-box {
                padding: 1em;
                
                &:not(:last-child) {
                    position: relative;

                    &::before {
                        content: "";
                        width: 2px;
                        right: 0px;
                        height: 3em;
                        background-color: rgba(57, 66, 78, 0.2);
                        position: absolute;
                    }
                    
                }
            }

            p {
                font-size: 0.9em;
                font-weight: 900;
                color: $secondary-light;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                line-height: 1;

                &.location {
                    display: flex;
                    align-items: center;

                    img {
                        width: 1.4em;
                        height: auto;
                        display: block;
                        margin-left: 0.5em;
                    }
                }
            }

            h5 {
                font-size: 1.2em;
                font-weight: 700;
                color: $secondary;
                text-transform: uppercase;

                &.text-green {
                    color: $green;
                }
            }

        }

        &-line {
            display: flex;

            &-box {
                flex: 1;

                p {
                    line-height: 0.5;
                }
            }
        }
    }

    .comp-right {
        flex: 1;

        .comp-organiser {
            padding: 1em;

            h5 {
                background-color: #e8f2f3;
                padding: 0.2em 1em;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 1em;
                color: $secondary;
            }

            &-row {
                display: flex;
                align-items: center;
                
                &-text {
                    margin-left: 0.5em;
                    font-size: 1em;
                    font-weight: 700;
                    line-height: 1;
                    color: $secondary;
                }
            }

            p {
                font-size: 0.9em;
                font-style: italic;
                color: $grey;
                padding: 1em;
            }
        }

    }
}

.codn-icon-text {
    font-size: 1em;
    position: relative;
    padding-left: 1em;
    color: $green;

    &::before {
        content: "";
        width: 1em;
        height: 0.8em;
        background-image: url(../images/codn-icon.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.participate-page {
    width: 100%;
}

.participate-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 1em auto;
    background-color: #ffffff;

    &-row {
        display: flex;
        border-bottom: 1px solid #edf0f1;
        padding: 0.7em 1em;
        
        &-icon {
            font-size: 1em;
            margin-right: 1em;
            color: $grey;
        }

        &-box {
            font-size: 1em;
            flex: 1;
        }

        &-box:last-child {
            flex: 2;
            font-weight: 700;
        }

        .row-inline {
            display: flex;

            h5 {
                font-size: 0.9em;
                font-weight: 400;
                text-transform: uppercase;
                margin-right: 0.5em;

                span {
                    font-weight: 700;
                }
            }
        }
    
    }

}

.participate-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 1em auto;
    background-color: #ffffff;
    padding: 1em 3em;

    h3 {
        font-size: 1.2em;
        text-transform: uppercase;
        text-align: center;
        color: $grey;
    }

    .transaction-cost {
        text-align: center;
        margin-top: 1em;

        p {
            font-size: 0.9em;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 700;
            color: $grey;
        }

        h4 {
            font-size: 2em;
        }
    }
    
}


.team-members {
    display: flex;

    p {
        font-size: 0.9em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: $grey;
        margin-top: 0.5em;
        margin-right: 0.3em;
    }
    
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
            font-size: 0.9em;
            display: flex;
            align-items: center;
            padding: 0.2em 0.4em;
            background-color: #e8f2f3;
            margin: 0.3em 0.3em;
            font-weight: 400;

            i {
                color: $secondary-light;
                margin-right: 0.3em;
            }

            span {
                font-weight: 300;
                margin-left: 0.4em;
            }
        }
    }
}

.dashboard-page {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: block;
    min-height: 70vh;

    .dashboard-row {
        display: flex;
        margin: 1em 0;
    }

    .dashboard-left {
        display: flex;
        flex-direction: column;
        flex: 1;

        &-top {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            box-shadow: 2px 4px 10px 5px rgba(0,0,0, 0.05);
            padding: 1em;
        }

        .dashboard-text {
            border-bottom: 1px solid #edf0f1;
            padding-bottom: 1em;

            h4 {
                font-size: 0.9em;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            h2 {
                font-size: 1.4em;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            p {
                color: $grey;
                font-size: 0.9em;
                font-weight: 400;
                letter-spacing: 1px;
                text-transform: uppercase;

                span {
                    font-weight: 700;
                }
            }
        }

        .dashboard-balance {

            &-row {
                padding: 0.8em 1em 0.8em 2em;

                &:not(:last-child) {
                    border-bottom: 1px solid #edf0f1;
                }

                h3 {
                    font-size: 1.4em;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;

                    .codn-icon-text {
                        font-size: 0.7em;
                        margin-left: 0.5em;
                    }
                }

                p {
                    font-size: 0.9em;
                    color: $grey;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .dashboard-right {
        flex: 3;

    }
}
.dashboard-content {
    width: 100%;
    padding: 0em 2em 1em 2em;

    &-title {
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $grey;
        margin-top: 1em;
    }

    table {
        margin-bottom: 1em;
    }

    &-link {
        display: flex;
        justify-content: center;
    }
}


table {
    width: 100%;
    border: 1px solid #edf0f1;
    border-collapse: collapse;
    
    thead {
        
        th {
            border-bottom: 2px solid $green-dim;
            background: linear-gradient(90deg, #282f39, #39424e);
            color: #ffffff;
            text-transform: uppercase;
        }
    }

    th, td {
        font-size: 1em;
        padding: 0.4em 1em;
    }

    td {
        border-bottom: 1px solid #e4e4e8;
    }
}