* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #272f38;
  background-color: #f8fcfc;
  min-width: 1100px;
}

a {
  color: #4bcc78;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #36b15c;
}

.mheader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #39424e;
  -webkit-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.mheader-inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 0;
}

.mheader-logo {
  width: 200px;
}

.mheader-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.mheader-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mheader-nav-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mheader-nav-items li a {
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0.4em 1.2em;
}

.mheader-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mheader-end-link {
  border-right: 2px solid #84a29e;
}

.mheader-end-link a {
  font-size: 1em;
  font-weight: 700;
  color: #a3b6b7;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0.4em 1.2em;
  opacity: 0.8;
}

.mheader-end-link a:hover {
  opacity: 1;
}

.mheader-end-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mheader-end-profile-text p {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #a3b6b7;
  opacity: 0.7;
  line-height: 1;
}

.mheader-end-profile-text h3 {
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  color: #a3b6b7;
  line-height: 1;
}

.mheader-end-profile-avatar {
  width: 40px;
  margin-left: 1em;
}

.mheader-end-profile-avatar img {
  width: 100%;
  height: auto;
  display: block;
}

.mheader-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #272f38;
}

.mheader-bottom-inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
}

.mheader-bottom-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mheader-bottom-right a {
  font-size: 0.85em;
  font-weight: 700;
  padding: 0.2em 1em;
  background-color: #84a29e;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.header-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-stats-icon {
  width: 18px;
  background-image: url(../images/codn-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-right: 1em;
}

.header-stats-text h5 {
  font-size: 0.85em;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.header-stats-text .green-text {
  color: #4bcc78;
}

.header-stats-text h3 {
  font-size: 1em;
  color: #ffffff;
  font-weight: 900;
}

.header-stats-text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-stats-text-row-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.8em;
}

.header-stats-text-row-button a {
  font-size: 0.7em;
  padding: 0.15em 0.5em;
  margin: 0 0.2em;
}

.pheader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.pheader-inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 0;
}

.pheader-logo {
  width: 200px;
}

.pheader-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.pheader-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pheader-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
}

.pheader-nav-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pheader-nav-items li.pheader-nav-items-double {
  background-color: #f8fcfc;
  padding-top: 1em;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.pheader-nav-items li.pheader-nav-items-double .items-double-span {
  background-color: #39424e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  padding: 0.1em 0.4em;
  position: absolute;
  top: -0.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.85em;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.pheader-nav-items li.pheader-nav-items-double .items-double-span .codecap-light-icon {
  margin-left: 0.4em;
}

.pheader-nav-items li a {
  font-size: 1em;
  color: #39424e;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0.4em 1.4em;
  display: block;
}

.pheader-nav-items li a span {
  font-size: 0.8em;
  display: block;
  font-style: italic;
  font-weight: 900;
  line-height: 0.4;
  color: #36b15c;
}

.pheader-nav-items li a.link-organise {
  font-weight: 700;
  border-left: 2px solid rgba(57, 66, 78, 0.5);
}

.pheader-nav-items li a:hover {
  color: #272f38;
}

.pheader-nav-items li a.link-launch {
  background: -webkit-gradient(linear, left top, right top, from(#36b15c), to(#4bcc78));
  background: linear-gradient(90deg, #36b15c, #4bcc78);
  font-weight: 700;
  color: #ffffff;
}

.pheader-nav-items li a.link-launch:hover {
  background: -webkit-gradient(linear, left top, right top, from(#36b15c), to(#36b15c));
  background: linear-gradient(90deg, #36b15c, #36b15c);
  color: #ffffff;
}

.mt-2 {
  margin-top: 2em;
}

.mt-4 {
  margin-top: 4em;
}

.pt-0 {
  padding-top: 0em !important;
}

.pb-0 {
  padding-bottom: 0em !important;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#e4e4e8), color-stop(#f8fcfc), to(#e4e4e8));
  background: linear-gradient(90deg, #e4e4e8, #f8fcfc, #e4e4e8);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .home-top {
  width: 90%;
  max-width: 1100px;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .home-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .home-left-main h3 {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main .home-left-main h4 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}

.main .home-left-main h5 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #36b15c;
}

.main .home-left-light {
  max-width: 400px;
  opacity: 0.6;
  margin: 1em 0;
}

.main .home-left-light h5 {
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: 0.5px;
  font-style: italic;
}

.main .home-left-light p {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2;
}

.main .home-left .home-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .home-left .home-features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.main .home-left .home-features-row img {
  max-width: 30px;
  width: auto;
  height: auto;
  max-height: 30px;
  display: block;
}

.main .home-left .home-features-row-text {
  margin-left: 1em;
}

.main .home-left .home-features-row-text h5 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}

.main .home-left .home-features-row-text p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
}

.main .home-left .home-features-row-text p span {
  font-weight: 700;
  color: #36b15c;
}

.main .home-left .home-features-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .home-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 4em;
}

.main .home-right img {
  width: 100%;
  height: auto;
  display: block;
}

.input-back {
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.input-back .button {
  font-size: 0.8em;
}

.input-back .button i {
  font-size: 0.9em;
}

.button {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #39424e;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
  padding: 0.4em 1em;
  border: none;
  cursor: pointer;
}

.button-green {
  background: -webkit-gradient(linear, left top, right top, from(#36b15c), to(#4bcc78));
  background: linear-gradient(90deg, #36b15c, #4bcc78);
  color: #ffffff;
}

.button-green:hover {
  background: -webkit-gradient(linear, left top, right top, from(#36b15c), to(#36b15c));
  background: linear-gradient(90deg, #36b15c, #36b15c);
  color: #ffffff;
}

.button-dark {
  background: -webkit-gradient(linear, left top, right top, from(#39424e), to(#272f38));
  background: linear-gradient(90deg, #39424e, #272f38);
  color: #ffffff;
}

.button-dark:hover {
  background: -webkit-gradient(linear, left top, right top, from(#39424e), to(#39424e));
  background: linear-gradient(90deg, #39424e, #39424e);
  color: #ffffff;
}

.button-orange {
  background-color: #ff605c;
  color: #ffffff;
}

.button-orange:hover {
  opacity: 0.9;
  color: #ffffff;
}

.button-golden {
  background-color: #febc4e;
  color: #282f39;
}

.button-golden:hover {
  opacity: 0.9;
  color: #282f39;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 1100px;
  padding: 2em 0;
}

.events-title {
  width: 100%;
}

.events-title h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 700;
  color: #39424e;
  letter-spacing: 0.5px;
}

.events-title h2 {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.competition-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.competition-boxes-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.competition-boxes-link a {
  padding: 0.5em 2em;
  font-size: 1em;
  font-weight: 900;
}

.competition-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.competition-box-happening {
  position: absolute;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  right: 0.6em;
  top: 0.2em;
  font-weight: 400;
}

.competition-box-happening span {
  font-weight: 700;
}

.competition-box-top {
  padding: 1em;
}

.competition-box-top h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 0.4em;
}

.competition-box-top p {
  font-size: 0.9em;
  font-weight: 400;
  color: #39424e;
  letter-spacing: 1px;
}

.competition-box-top p.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 0.8em;
  margin-top: 1em;
}

.competition-box-top p.location img {
  width: 16px;
  height: auto;
}

.competition-box-bottom {
  padding: 0.5em 1em;
  background-color: #edf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.competition-box-bottom-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.competition-box-bottom-left-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff605c;
  font-weight: 900;
  color: #ffffff;
}

.competition-box-bottom-left-text {
  margin-left: 0.5em;
}

.competition-box-bottom-left-text p {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  color: #a3b6b7;
}

.competition-box-bottom-left-text h5 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
}

.competition-box-bottom-right a {
  font-size: 0.8em;
}

.window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #272f38;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 48px);
}

.window-center {
  max-width: 500px;
  width: 90%;
  background-color: #edf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window-logo {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  margin-top: 2em;
}

.window-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a3b6b7;
  font-size: 3em;
  font-weight: 900;
  margin-top: 0.2em;
}

.window-title-sub {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a3b6b7;
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1em;
}

.window-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.window-content-left, .window-content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 4em 1em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.window-content-left h4, .window-content-right h4 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.window-content-left h2, .window-content-right h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 300;
}

.window-content-left:hover, .window-content-right:hover {
  opacity: 0.9;
  color: #ffffff;
}

.window-content-left {
  background-color: #4bcc78;
}

.window-content-right {
  background-color: #36b15c;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input label {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  color: #39424e;
  position: relative;
  padding: 0.2em 1em 0.2em 1.2em;
}

.input label::before {
  content: "";
  width: 0.8em;
  height: 4px;
  background-color: #36b15c;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
}

.input-text textarea,
.input-text input {
  background-color: #f8fcfc;
  border: 1px solid #e9ecec;
  padding: 0.6em 1em;
  font-family: inherit;
  font-size: 1.1em;
  outline: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  display: block;
  width: 100%;
}

.input-text textarea:focus,
.input-text input:focus {
  border: 1px solid #e4e4e8;
}

.input-range-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-range-row input:first-child {
  margin-right: 1em;
}

.input-range input {
  background-color: #f8fcfc;
  border: 1px solid #e9ecec;
  padding: 0.6em 1em;
  font-family: inherit;
  font-size: 1.1em;
  outline: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  display: block;
  width: 100%;
}

.input-radio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-radio-row label {
  padding-left: 0.4em;
}

.input-radio-row label::before {
  content: unset;
}

.input-select select {
  background-color: #f8fcfc;
  border: 1px solid #e9ecec;
  padding: 0.6em 1em;
  font-family: inherit;
  font-size: 1.1em;
  outline: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  display: block;
  width: 100%;
}

.input-country {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-country label {
  width: 100%;
}

.input-country select {
  width: calc(100% - 3em);
}

.input-country .country-preview {
  width: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-country .country-preview img {
  width: 100%;
  height: auto;
  display: block;
}

.input-check {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-check label {
  width: auto;
}

.input.remove {
  display: none;
}

.inputs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.inputs-row .input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.inputs-row .input:not(:last-child) {
  margin-right: 1em;
}

.input-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.input-submit button {
  background: -webkit-gradient(linear, left top, right top, from(#4bcc78), to(#36b15c));
  background: linear-gradient(90deg, #4bcc78, #36b15c);
  border: 1px solid #4bcc78;
  padding: 0.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 0.9em;
  color: #ffffff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: none;
}

.input-submit button i {
  color: #ffffff;
  margin-right: 0.8em;
  font-size: 0.8em;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.input-submit button:hover {
  opacity: 0.9;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.input-submit button:hover i {
  opacity: 0.8;
}

.message {
  padding: 0.3em 1em;
  font-size: 0.9em;
  font-weight: 400;
  margin: 1em 0;
  display: block;
}

.message.error {
  background-color: #ffe2e2;
  color: #ff605c;
  border: 1px solid #ff605c;
}

.message.error a {
  color: #ff605c;
}

.message.success {
  background-color: #d5ffe4;
  color: #4bcc78;
  border: 1px solid #4bcc78;
}

.message a {
  font-weight: 900;
  text-decoration: underline;
}

.window-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 300px;
  padding: 0 0 3em 0;
}

.window-form form {
  width: 100%;
}

.window-form .input {
  margin-bottom: 1em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #39424e;
  padding: 1em 0;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright .codecap-light-icon {
  margin-right: 1em;
  width: 1.4em;
  height: 1.4em;
}

.footer-copyright-text {
  font-size: 0.9em;
  color: #a3b6b7;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer-nav ul li a {
  font-size: 0.9em;
  color: #a3b6b7;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.2em 1em;
}

.codecap-light-icon {
  width: 1em;
  height: 1em;
  background-image: url(../images/logo-icon-light.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.page-title-left h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  display: table;
  color: #ffffff;
}

.page-title-left h1 span {
  position: relative;
}

.page-title-left h1::before {
  content: "";
  width: 100%;
  left: 0;
  top: 0;
  height: calc(100% + 1em);
  position: absolute;
  background-color: #36b15c;
}

.page-title-left p {
  position: relative;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 2em;
}

.page-title-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page-title-right-comp {
  text-align: right;
}

.page-title-right-comp h3 {
  font-size: 2em;
  color: #39424e;
  font-weight: 400;
}

.page-title-right-comp p {
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 2em;
  color: #84a29e;
}

.page-title-right .go-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5em;
}

.page-title-right .go-back a {
  font-size: 0.8em;
}

.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
}

.comp-page {
  width: 100%;
  padding: 1em 0;
  display: block;
}

.comp-page-info {
  width: 100%;
  font-size: 1em;
  font-weight: 700;
  color: #a3b6b7;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.comp-page-row {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5em;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.comp-page-row div {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.comp-page-row:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.comp-page .comp-left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

.comp-page .comp-left::before {
  content: "";
  width: 2px;
  background-color: #39424e;
  height: 80%;
  top: 15%;
  right: 0;
  position: absolute;
  opacity: 0.2;
}

.comp-page .comp-left-top {
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid rgba(57, 66, 78, 0.2);
  display: block;
}

.comp-page .comp-left-top h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 0.4em;
  color: #39424e;
}

.comp-page .comp-left-top p {
  font-size: 0.9em;
  font-weight: 400;
  color: #39424e;
  letter-spacing: 1px;
  border-left: 3px solid #36b15c;
  padding: 0.4em 1em;
}

.comp-page .comp-left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comp-page .comp-left-bottom-2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.comp-page .comp-left-bottom-1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.comp-page .comp-left-bottom-box {
  padding: 1em;
}

.comp-page .comp-left-bottom-box:not(:last-child) {
  position: relative;
}

.comp-page .comp-left-bottom-box:not(:last-child)::before {
  content: "";
  width: 2px;
  right: 0px;
  height: 3em;
  background-color: rgba(57, 66, 78, 0.2);
  position: absolute;
}

.comp-page .comp-left-bottom p {
  font-size: 0.9em;
  font-weight: 900;
  color: #84a29e;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
}

.comp-page .comp-left-bottom p.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-page .comp-left-bottom p.location img {
  width: 1.4em;
  height: auto;
  display: block;
  margin-left: 0.5em;
}

.comp-page .comp-left-bottom h5 {
  font-size: 1.2em;
  font-weight: 700;
  color: #39424e;
  text-transform: uppercase;
}

.comp-page .comp-left-bottom h5.text-green {
  color: #36b15c;
}

.comp-page .comp-left-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comp-page .comp-left-line-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comp-page .comp-left-line-box p {
  line-height: 0.5;
}

.comp-page .comp-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comp-page .comp-right .comp-organiser {
  padding: 1em;
}

.comp-page .comp-right .comp-organiser h5 {
  background-color: #e8f2f3;
  padding: 0.2em 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1em;
  color: #39424e;
}

.comp-page .comp-right .comp-organiser-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-page .comp-right .comp-organiser-row-text {
  margin-left: 0.5em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  color: #39424e;
}

.comp-page .comp-right .comp-organiser p {
  font-size: 0.9em;
  font-style: italic;
  color: #a3b6b7;
  padding: 1em;
}

.codn-icon-text {
  font-size: 1em;
  position: relative;
  padding-left: 1em;
  color: #36b15c;
}

.codn-icon-text::before {
  content: "";
  width: 1em;
  height: 0.8em;
  background-image: url(../images/codn-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.participate-page {
  width: 100%;
}

.participate-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin: 1em auto;
  background-color: #ffffff;
}

.participate-info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #edf0f1;
  padding: 0.7em 1em;
}

.participate-info-row-icon {
  font-size: 1em;
  margin-right: 1em;
  color: #a3b6b7;
}

.participate-info-row-box {
  font-size: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.participate-info-row-box:last-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-weight: 700;
}

.participate-info-row .row-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.participate-info-row .row-inline h5 {
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 0.5em;
}

.participate-info-row .row-inline h5 span {
  font-weight: 700;
}

.participate-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin: 1em auto;
  background-color: #ffffff;
  padding: 1em 3em;
}

.participate-form h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: #a3b6b7;
}

.participate-form .transaction-cost {
  text-align: center;
  margin-top: 1em;
}

.participate-form .transaction-cost p {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #a3b6b7;
}

.participate-form .transaction-cost h4 {
  font-size: 2em;
}

.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-members p {
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #a3b6b7;
  margin-top: 0.5em;
  margin-right: 0.3em;
}

.team-members ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-members ul li {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em 0.4em;
  background-color: #e8f2f3;
  margin: 0.3em 0.3em;
  font-weight: 400;
}

.team-members ul li i {
  color: #84a29e;
  margin-right: 0.3em;
}

.team-members ul li span {
  font-weight: 300;
  margin-left: 0.4em;
}

.dashboard-page {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  min-height: 70vh;
}

.dashboard-page .dashboard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}

.dashboard-page .dashboard-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dashboard-page .dashboard-left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
  padding: 1em;
}

.dashboard-page .dashboard-left .dashboard-text {
  border-bottom: 1px solid #edf0f1;
  padding-bottom: 1em;
}

.dashboard-page .dashboard-left .dashboard-text h4 {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dashboard-page .dashboard-left .dashboard-text h2 {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dashboard-page .dashboard-left .dashboard-text p {
  color: #a3b6b7;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dashboard-page .dashboard-left .dashboard-text p span {
  font-weight: 700;
}

.dashboard-page .dashboard-left .dashboard-balance-row {
  padding: 0.8em 1em 0.8em 2em;
}

.dashboard-page .dashboard-left .dashboard-balance-row:not(:last-child) {
  border-bottom: 1px solid #edf0f1;
}

.dashboard-page .dashboard-left .dashboard-balance-row h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-page .dashboard-left .dashboard-balance-row h3 .codn-icon-text {
  font-size: 0.7em;
  margin-left: 0.5em;
}

.dashboard-page .dashboard-left .dashboard-balance-row p {
  font-size: 0.9em;
  color: #a3b6b7;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dashboard-page .dashboard-right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.dashboard-content {
  width: 100%;
  padding: 0em 2em 1em 2em;
}

.dashboard-content-title {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a3b6b7;
  margin-top: 1em;
}

.dashboard-content table {
  margin-bottom: 1em;
}

.dashboard-content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table {
  width: 100%;
  border: 1px solid #edf0f1;
  border-collapse: collapse;
  margin: 1em 0;
}

table thead th {
  border-bottom: 2px solid #4bcc78;
  background: -webkit-gradient(linear, left top, right top, from(#282f39), to(#39424e));
  background: linear-gradient(90deg, #282f39, #39424e);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.85em;
}

table th, table td {
  padding: 0.4em 1em;
}

table td {
  font-size: 0.9em;
  font-weight: 400;
  border-bottom: 1px solid #e4e4e8;
}

table td .button {
  display: inline-block;
  font-size: 0.9em;
}

.organiser {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 48px);
}

.organiser-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #272f38;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.organiser-left-content {
  max-width: 220px;
  margin-top: 0.5em;
}

.organiser-left-logo {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  margin-bottom: 2em;
}

.organiser-left-header {
  margin: 1em 0;
}

.organiser-left-nav {
  margin-top: 2em;
}

.organiser-left-nav li h3 {
  font-size: 0.9em;
  color: #84a29e;
  margin: 1em 0 0.2em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.organiser-left-nav li a {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e9ecec;
  display: block;
  padding: 0.6em 0.6em;
  border-bottom: 1px solid rgba(57, 66, 78, 0.6);
  margin-left: 1em;
}

.organiser-left-nav li a:hover {
  color: #ffffff;
}

.organiser-right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.organiser-right .mheader {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.organiser-right .mheader-inner {
  margin-left: 2em;
  margin-right: auto;
}

.organiser-right-content {
  display: block;
  padding: 1em 2em 2em 2em;
  max-width: 1100px;
  background-color: #ffffff;
  margin: 1em;
  width: calc(100% - 2em);
  -webkit-box-shadow: 3px 4px 15px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 4px 15px 5px rgba(0, 0, 0, 0.05);
}

.o-title {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a3b6b7;
  margin-bottom: 1em;
}

.o-page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.o-title-sub {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a3b6b7;
  padding: 1em 0;
}

.reviewer-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviewer-row .reviewer-table {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2em;
  padding-right: 2em;
  border-right: 1px solid #e0e0e0;
}

.reviewer-row .reviewer-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.compete {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}

.compete-l {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 2em;
}

.compete-l-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.compete-l-top-left h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  color: #84a29e;
}

.compete-l-top-left h2 {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 400;
  color: #36b15c;
}

.compete-l-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compete-l-top-right-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1em;
}

.compete-l-top-right-box h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 900;
  color: #84a29e;
  text-align: right;
}

.compete-l-top-right-box p {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 900;
  color: #39424e;
  text-align: right;
}

.compete-l-top-button button {
  padding: 0.8em 2em;
}

.compete-l-output {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.compete-l-output-top {
  width: 100%;
  padding: 0.8em 1em;
  background-color: #272f38;
}

.compete-l-output-content {
  width: 100%;
  padding: 1em;
  background-color: #39424e;
}

.compete-l-output-content h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 900;
  color: #a3b6b7;
  border-bottom: 1px solid #4f5966;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.compete-l-output-content p {
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
  padding: 1em;
}

.compete-l-output-content p .error {
  font-style: normal;
  font-weight: 400;
  color: #ff605c;
}

.compete-l-output.loading {
  pointer-events: none;
}

.compete-l-output.loading::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #a3b6b7;
  opacity: 0.5;
}

.compete-l-output.loading::after {
  content: "Please wait...";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compete-r {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.compete-r-box {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 2em;
  padding: 1em 2em;
}

.compete-r-box h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  color: #84a29e;
  margin-bottom: 1em;
}

.compete-r-box p {
  font-size: 1em;
  font-weight: 400;
  color: #39424e;
}

.compete-r-members h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  color: #84a29e;
  margin-bottom: 1em;
}

.compete-r-members-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.compete-r-members-row-box {
  width: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  margin: 0 0.5em 0.5em 0.5em;
}

.compete-r-members-row-box img {
  display: block;
  width: 40px;
  height: auto;
  margin-bottom: 0.5em;
}

.compete-r-members-row-box h4 {
  font-size: 0.85em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.05);
  padding: 2em;
}

.contact-l {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #f8fcfc;
  margin-right: 1em;
}

.contact-l-top h3 {
  display: table;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 400;
}

.contact-l-top h3 span {
  font-size: 0.8em;
  display: block;
  text-align: right;
  font-weight: 700;
}

.contact-l-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-l-social a {
  color: #84a29e;
  border: 1px solid #e0e0e0;
  padding: 0.4em 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  margin: 0.2em;
}

.contact-l-social a i {
  font-size: 1.2em;
}

.contact-l-main {
  margin-top: 1em;
}

.contact-l-main p {
  font-size: 1em;
  margin-bottom: 1em;
}

.contact-r {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
/*# sourceMappingURL=main.css.map */